.developing img {
	border: 1px solid #aaa;
	box-shadow: 0px 0px 10px #aaa, 0px 0px 50px #aaa;
}

.developing .archive_text-title {
	text-shadow: 0px 0px 15px #fffaaa 0px 0px 50px #aaa;
}

.developing .archive_button {
	border: 3px solid #aaa;
}

.developing .archive_button:hover {
	background-color: #aaa;
	box-shadow: 0px 0px 15px #aaa;
}
