* {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	color: #fff;
}

body {
	background-color: #333;
}

html.before_loading {
	overflow-y: hidden;
}

*::selection {
	background: #e57d20;
	color: #000;
}

.main_text::selection, .secondText::selection, ul.secondText li::selection {
	background-color: #000;
	color: #ccc;
	text-shadow: none;
}

::-webkit-scrollbar-button {
	background-image:url('');
	background-repeat:no-repeat;
	width:10px;
	height:0px;
}

::-webkit-scrollbar-track {
	background-color: #333;
}

::-webkit-scrollbar-thumb {
	-webkit-border-radius: 0px;
	border-radius: 10px;
	background-color: #ff6a07;
}


::-webkit-scrollbar-thumb:hover{
	background-color: #cc5405;
}

::-webkit-resizer{
	background-image:url('');
	background-repeat:no-repeat;
	width:6px;
	height:0px;
}

::-webkit-scrollbar{
	width: 10px;
}

.ttuc {
	text-transform: uppercase;
}

body.before_loading {
	overflow: hidden;
}

.jump {
	width: 100%;
	height: 110px;
}

.preloader {
	width: 100vw;
	height: 100vh;
	background-color: #000;
	z-index: 9999;
	position: fixed;
	left: 0;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.preloader span {
	display: block;
	height: 15px;
	width: 15px;
	background-color: #19e3d5;
	margin: 0 7px;
	border-radius: 10px;
	animation: 1.2s preloaderAnimation infinite;
}

.preloader span:first-child {
	animation-delay: .15s;
}

.preloader span:nth-child(2) {
	animation-delay: .3s;
}

.preloader span:nth-child(3) {
	animation-delay: .45s;
}

.preloader span:nth-child(4) {
	animation-delay: .6s;
}

.preloader span:last-child {
	animation-delay: .75s;
}

.loaded_hiding {
	transition: 1s;
	opacity: 0;
}

.loaded {
	display: none;
}

header {
	position: fixed;
	left: 0;
	top: 0;
	display: flex;
	justify-content: space-evenly;
	width: calc(100vw - 50px);
	padding-bottom: 16px;
	padding-top: 16px;
	padding-left: 25px;
	padding-right: 25px;
	align-items: center;
	border-bottom: 2.5px solid #e57d20;
	background-color: #fff;
	height: 75px;
	z-index: 99;
	overflow: hidden;
}

.logo_img {
	width: calc( 30% - 25px );
	display: flex;
	align-items: center;
	justify-content: flex-end;
	overflow-y: hidden;
	flex-direction: column;
	font-size: 1vw;
	transition: .25s;
	text-decoration: none;
}

.unc, .coffeeman {
	text-transform: uppercase;
}

.unc span {
	margin: 0;
}

.first_star {
	font-size: 0.85vw;
	color: #000 !important;
}

.second_star {
	font-size: 1vw;
	color: #000 !important;
}

.third_star {
	font-size: 1.15vw;
	color: #000 !important;
}

.uncensored {
	font-size: .9vw;
}

.coffeeman {
	font-size: 3vw;
	color: #000 !important;
}

.logo_img span {
	color: #e57d20;
	font-family: "Alfa Slab One", cursive;;
}

.logo_img:hover {
	transform: scale(1.1);
}

.menu {
	display: flex;
	justify-content: space-evenly;
	width: 70%;
	height: 1.35em;
	font-size: 1.35vw;
	overflow-x: visible;
}

.menu a {
	text-decoration: none;
	color: #000;
	font-weight: 700;
	text-transform: uppercase;
	color: #333;
	position: relative;
	transition: 0.2s;
	border-radius: 2.5px;
	font-family: "Russo One", sans-serif;
}

.menu a.nightbot:hover {
	color: #b05d15;
}

.menu a.nightbot::before {
	background-color: #b05d15;
}

.menu a.twitch:hover {
	color: #6441a5;
}

.menu a.twitch::before {
	background-color: #6441a5;
}

.menu a.youtube:hover {
	color: #c4302b;
}

.menu a.youtube::before {
	background-color: #c4302b;
}

.menu a.instagram:hover {
	color: #C13584;
}

.menu a.instagram::before {
	background-color: #C13584;
}

.menu a.facebook:hover {
	color: #4267B2;
}

.menu a.facebook::before {
	background-color: #4267B2;
}

.menu a.patreon:hover {
	color: #f96854;
}

.menu a.patreon::before {
	background-color: #f96854;
}

.menu a.discord:hover {
	color: #7289DA;
}

.menu a.discord::before {
	background-color: #7289DA;
}

.menu a.archive:hover {
	color: #23751e;
}

.menu a.archive::before {
	background-color: #23751e;
}

.menu a.main:hover {
	color: #95964b;
}

.menu a.main::before {
	background-color: #95964b;
}

.menu a::before {
	content: '';
	right: 0;
	bottom: 0;
	position: absolute;
	width: 0%;
	height: 0.15em;
	transition: 0.2s;
}

.menu a:hover:before {
	width: 100%;
	left: 0;
}

.menu_btn {
	width: 75px;
	height: 75px;
	background-color: #333;
	border-radius: 50% !important;
	position: relative;
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 16px;
	right: 16px;
}

.menu_btn span,
.menu_btn span::before,
.menu_btn span::after {
	position: absolute;
	width: 25px;
	height: 3px;
	background-color: #fff;
	overflow: visible;
}

.menu_btn span::before,
.menu_btn span::after {
	content: '';
	transition: 0.2s;
}

.menu_btn span::before {
	transform: translateY(-6px);
}

.menu_btn span::after {
	transform: translateY(6px);
}

.menu_active span {
	background-color: #333;
}

.menu_active span::before {
	transform: rotate(45deg);
}

.menu_active span::after {
	transform: rotate(-45deg);
}

.mobile_menu {
	width: 100vw;
	min-height: 1vh;
	background-color: #fff;
	position: fixed;
	z-index: 80;
	margin-top: 109.5px;
	transform: translateY(-100%);
	display: none;
	flex-direction: column;
	overflow: visible;
}

.mobile_transition {
	transition: 0.6s;
}

.mobile_menu_active {
	transform: translateY(0);
}

.mobile_menu a {
	color: #333;
	text-decoration: none;
	margin-left: 25px;
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 3vw;
	font-family: "Russo One", sans-serif;
	position: relative;
}

.about {
	padding: 1.5vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.info {
	font-family: "Russo One", sans-serif;
	font-size: 35px;
	text-align: center;
}

.card_wrap {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 85%;
	padding-top: 80px;
	flex-wrap: wrap;
}

.card {
	padding-left: 12.5px;
	padding-right: 12.5px;
	width: 30%;
	height: 500px;
	box-sizing: border-box;
	position: relative;
	transition: .6s;
	text-align: center;
	margin-bottom: 25px;
}

.card:hover {
	background-color: #e57d20;
	transition: 0s;
}

.card:hover i {
	color: #fff;
	transition: 0s;
}

.card:hover .underBlockLine {
	border-color: #fff;
	transition: 0s;
}

.card::before {
	left: 0px;
	top: 0px;
	border-width: 4px 0 0 4px;
}

.card::after {
	right: 0px;
	top: 0px;
	border-width: 4px 4px 0 0;
}

.underBlockLine::before {
	left: 0px;
	bottom: 0px;
	border-width: 0 0 4px 4px;
}

.underBlockLine::after {
	right: 0px;
	bottom: 0px;
	border-width: 0 4px 4px 0;
}

.card::before,
.card::after,
.underBlockLine::before,
.underBlockLine::after {
	content: '';
	position: absolute;
	width: 18px;
	height: 18px;
	border-color: #e57d20;
	border-style: solid;
}

.card i {
	color: #e57d20;
	font-size: 75px;
	margin-top: 20px;
	transition: .6s;
	height: 75px;
}

h5.main_text {
	color: #fff;
	margin-top: 55px;
	font-size: 1.75vw;
	text-transform: uppercase;
	text-align: center;
}

.underBlockLine {
	height: 0;
	width: 15%;
	margin: auto;
	border-top: 2px solid #e57d20;
	margin-top: 10px;
	transition: .6s;
}

.secondText {
	color: #fff;
	font-size: 14px;
	margin-top: 15px;
	text-align: left;
}

ul.secondText li {
	margin-top: 7.5px;
	display: list-item;
}

ul.secondText {
	list-style-type: circle;
	overflow: visible;
}

.slider {
	display: flex;
	justify-content: center;
	align-items: center;
}

.slider_item {
	flex-basis: 25%;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 75vh;
	font-size: 1.6vw;
	transition: 0.2s;
	flex-direction: column;
	overflow: visible;
	cursor: pointer;
}

.slider_item span {
	text-shadow: 0px 0px 20px #000;
	overflow: visible;
}

.slider_item:hover {
	font-weight: 700;
}

.slider_item-1 {
	background: url(imgs/1.png) no-repeat center center;
	background-size: cover;
}

.slider_item-2 {
	background: url(imgs/2.png) no-repeat center center;
	background-size: cover;
}

.slider_item-3 {
	background: url(imgs/3.png) no-repeat center center;
	background-size: cover;
}

.slider_item-4 {
	background: url(imgs/4.png) no-repeat center center;
	background-size: cover;
}

.slider_link {
	text-decoration: none;
	overflow: visible;
}

.slider_text {
	width: 75%;
	margin: 15px;
	font-size: 1.35vw;
	border: 1px solid #23751e;
	box-shadow: 0px 0px 10px #23751e;
	padding: 15px;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.6);
	
}

.slider_button {
	padding: 15px;
	margin-top: 15px;
	border-radius: 20px;
	border: 3px solid #1c54ad;
	box-shadow: 0px 0px 50px #1c54ad;
	cursor: pointer;
	background-color: #fff;
	overflow: visible !important;
	transition: 0.4s;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2vw;
	color: #000;
}

.a_slider_button {
	text-decoration: none;
	overflow: visible;
}

.slider_button:hover {
	background-color: #2062c9;
	color: #fff;
}

.slider_item-active {
	font-weight: 700;
	flex-basis: 50%;
	cursor: auto;
}

.archive_wrapper {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.archive_item {
	width: 100%;
	background-color: #222;
	display: flex;
}

.archive_img {
	width: 12.5%;
	border-radius: 50%;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 7.5%;
}

.archive_text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 5%;
	width: 50%;
	overflow: visible;
}

.archive_text-title {
	text-transform: uppercase;
	text-align: center;
	font-family: "Staatliches", cursive;
	font-size: 3vw;
	letter-spacing: 2px;
	overflow: visible;
}

.archive_text-title::selection {
	text-shadow: 0px 0px .2em #000, 0px 0px 1em #000, 0px 0px 2em #000;
}

.archive_text-desc {
	text-align: center;
	font-size: 1.05vw;
}

.archive_link {
	margin-right: 7.5%;
	width: 17.5%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}

.archive_button {
	font-size: 1.5vw;
	padding: 20px;
	border-radius: 20px;
	transition: 0.4s;
	overflow: visible;
}

/* BREAKPOINTS */

/* Large desktops and laptops */
@media screen and (min-width: 1200px) {

	.card {
		width: 30%;
	}

}

/* Landscape tablets and medium desktops */
@media screen and (max-width: 1199px) {

	.card {
		width: 47.5%;
	}

	h5.main_text {
		font-size: 21.2px !important;
	}

}

/* Portrait tablets and small desktops */
@media screen and (max-width: 991px) {

	

}

/* Landscape phones and portrait tablets */
@media screen and (max-width: 767px) {

	.card {
		width: 100%;
	}

	.menu {
		display: none;
	}

	a.logo_img {
		width: calc(100% - 75px);
	}

	.menu_btn {
		display: flex;
	}

	.mobile_menu {
		display: flex;
	}

	.first_star {
		font-size: 1.7vw;
	}

	.second_star {
		font-size: 2vw;
	}

	.third_star {
		font-size: 2.3vw;
	}

	.uncensored {
		font-size: 1.8vw;
	}

	.coffeeman {
		font-size: 6vw;
	}

	.slider {
		flex-flow: column;
		height: calc(100vh - 110px);
	}

	.slider_item {
		width: 100%;
		height: 25%;
		font-size: 4vw;
	}

	.slider_text {
		font-size: 1.75vw;
	}

}

/* Portrait phones and smaller */
@media screen and (max-width: 480px) {

	header {
		justify-content: start;
	}

}

/* KEYFRAMES */

@keyframes preloaderAnimation {

	0% {
		height: 15px;
		background: #19e3d5;
	}

	50% {
		height: 60px;
		background: #d33deb;
	}

	100% {
		height: 15px;
		background: #19e3d5;
	}
	
}
